## Analyze a Movies Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")
df

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07
4,Parasite,Thriller,8.6,2019,96,90,266,2019-05-30
5,Joker,Drama,8.5,2019,68,88,1074,2019-10-04
6,Avengers: Endgame,Action,8.4,2019,78,90,2798,2019-04-26
7,La La Land,Musical,8.0,2016,91,81,446,2016-12-09
8,Get Out,Horror,7.7,2017,99,86,255,2017-02-24
9,The Irishman,Crime,7.9,2019,94,86,8,2019-11-27

In [3]:
df.head()

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07
4,Parasite,Thriller,8.6,2019,96,90,266,2019-05-30

In [4]:
df.tail()

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
5,Joker,Drama,8.5,2019,68,88,1074,2019-10-04
6,Avengers: Endgame,Action,8.4,2019,78,90,2798,2019-04-26
7,La La Land,Musical,8.0,2016,91,81,446,2016-12-09
8,Get Out,Horror,7.7,2017,99,86,255,2017-02-24
9,The Irishman,Crime,7.9,2019,94,86,8,2019-11-27

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                10 non-null     object
 1   Genre                10 non-null     object
 2   Rating               10 non-null     float64
 3   Release_Year         10 non-null     int64
 4   Critic_Rating        10 non-null     int64
 5   Audience_Rating      10 non-null     int64
 6   Box_Office_Millions  10 non-null     int64
 7   Release_Date         10 non-null     object
dtypes: float64(1), int64(4), object(3)
memory usage: 772.0+ bytes

In [6]:
df.describe().astype('int32')

,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions
count,10,10,10,10,10
mean,8,2011,89,89,749
std,0,14,10,4,808
min,7,1972,68,81,8
25%,8,2011,85,86,257
50%,8,2016,92,89,561
75%,8,2019,95,90,961
max,9,2019,100,98,2798

In [7]:
df

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07
4,Parasite,Thriller,8.6,2019,96,90,266,2019-05-30
5,Joker,Drama,8.5,2019,68,88,1074,2019-10-04
6,Avengers: Endgame,Action,8.4,2019,78,90,2798,2019-04-26
7,La La Land,Musical,8.0,2016,91,81,446,2016-12-09
8,Get Out,Horror,7.7,2017,99,86,255,2017-02-24
9,The Irishman,Crime,7.9,2019,94,86,8,2019-11-27

## Appending to the dataFrame

In [8]:
new_movies = ['GharJwai','Romance',6.6,2024,88,91,229,'2024-07-16']
df = pd.concat([df, pd.DataFrame([new_movies], columns=df.columns)], ignore_index=True)

In [9]:
df

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07
4,Parasite,Thriller,8.6,2019,96,90,266,2019-05-30
5,Joker,Drama,8.5,2019,68,88,1074,2019-10-04
6,Avengers: Endgame,Action,8.4,2019,78,90,2798,2019-04-26
7,La La Land,Musical,8.0,2016,91,81,446,2016-12-09
8,Get Out,Horror,7.7,2017,99,86,255,2017-02-24
9,The Irishman,Crime,7.9,2019,94,86,8,2019-11-27
10,GharJwai,Romance,6.6,2024,88,91,229,2024-07-16

## Data Selection & Filtering

In [10]:
df[["Title", "Rating"]]

                Title  Rating
0           Inception     8.8
1       The Godfather     9.2
2     The Dark Knight     9.0
3        Interstellar     8.6
4            Parasite     8.6
5               Joker     8.5
6   Avengers: Endgame     8.4
7          La La Land     8.0
8             Get Out     7.7
9        The Irishman     7.9
10           GharJwai     6.6

In [11]:
df[df['Release_Year']<2015]

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07

In [12]:
df.query("Rating > 8")

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07
4,Parasite,Thriller,8.6,2019,96,90,266,2019-05-30
5,Joker,Drama,8.5,2019,68,88,1074,2019-10-04
6,Avengers: Endgame,Action,8.4,2019,78,90,2798,2019-04-26

## Data Cleaning & Preprocessing

In [13]:
df.isna().sum().sum() # there are zero null values in the dataFrame

np.int64(0)

In [14]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'])
df

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date
0,Inception,Sci-Fi,8.8,2010,87,91,829,2010-07-16
1,The Godfather,Crime,9.2,1972,100,98,135,1972-03-24
2,The Dark Knight,Action,9.0,2008,94,94,1005,2008-07-18
3,Interstellar,Sci-Fi,8.6,2014,85,86,677,2014-11-07
4,Parasite,Thriller,8.6,2019,96,90,266,2019-05-30
5,Joker,Drama,8.5,2019,68,88,1074,2019-10-04
6,Avengers: Endgame,Action,8.4,2019,78,90,2798,2019-04-26
7,La La Land,Musical,8.0,2016,91,81,446,2016-12-09
8,Get Out,Horror,7.7,2017,99,86,255,2017-02-24
9,The Irishman,Crime,7.9,2019,94,86,8,2019-11-27
10,GharJwai,Romance,6.6,2024,88,91,229,2024-07-16

In [15]:
df.duplicated().sum().sum() 
# no duplicates found

np.int64(0)

## Data Transformation

In [16]:
df['Decades'] = (df['Release_Year']//10)*10
df['Rating'] = (df['Rating']*10).astype('int32')
df['Tag'] = df['Rating'].apply(lambda x: "Flop" if x<=80 else "Hit")
df

,Title,Genre,Rating,Release_Year,Critic_Rating,Audience_Rating,Box_Office_Millions,Release_Date,Decades,Tag
0,Inception,Sci-Fi,88,2010,87,91,829,2010-07-16,2010,Hit
1,The Godfather,Crime,92,1972,100,98,135,1972-03-24,1970,Hit
2,The Dark Knight,Action,90,2008,94,94,1005,2008-07-18,2000,Hit
3,Interstellar,Sci-Fi,86,2014,85,86,677,2014-11-07,2010,Hit
4,Parasite,Thriller,86,2019,96,90,266,2019-05-30,2010,Hit
5,Joker,Drama,85,2019,68,88,1074,2019-10-04,2010,Hit
6,Avengers: Endgame,Action,84,2019,78,90,2798,2019-04-26,2010,Hit
7,La La Land,Musical,80,2016,91,81,446,2016-12-09,2010,Flop
8,Get Out,Horror,77,2017,99,86,255,2017-02-24,2010,Flop
9,The Irishman,Crime,79,2019,94,86,8,2019-11-27,2010,Flop
10,GharJwai,Romance,66,2024,88,91,229,2024-07-16,2020,Flop

## Melt

In [17]:
df2 = df[['Title','Critic_Rating','Audience_Rating']]

In [18]:
df2

                Title  Critic_Rating  Audience_Rating
0           Inception             87               91
1       The Godfather            100               98
2     The Dark Knight             94               94
3        Interstellar             85               86
4            Parasite             96               90
5               Joker             68               88
6   Avengers: Endgame             78               90
7          La La Land             91               81
8             Get Out             99               86
9        The Irishman             94               86
10           GharJwai             88               91

In [19]:
df3 = df2.melt(
    id_vars=["Title"],
    value_vars=["Critic_Rating","Audience_Rating"],
    var_name="Rating Type",
    value_name="Rate"

)

In [20]:
df3

                Title      Rating Type  Rate
0           Inception    Critic_Rating    87
1       The Godfather    Critic_Rating   100
2     The Dark Knight    Critic_Rating    94
3        Interstellar    Critic_Rating    85
4            Parasite    Critic_Rating    96
5               Joker    Critic_Rating    68
6   Avengers: Endgame    Critic_Rating    78
7          La La Land    Critic_Rating    91
8             Get Out    Critic_Rating    99
9        The Irishman    Critic_Rating    94
10           GharJwai    Critic_Rating    88
11          Inception  Audience_Rating    91
12      The Godfather  Audience_Rating    98
13    The Dark Knight  Audience_Rating    94
14       Interstellar  Audience_Rating    86
15           Parasite  Audience_Rating    90
16              Joker  Audience_Rating    88
17  Avengers: Endgame  Audience_Rating    90
18         La La Land  Audience_Rating    81
19            Get Out  Audience_Rating    86
20       The Irishman  Audience_Rating    86
21           GharJwai  Audience_Rating    91

## Pivot

In [21]:
df3 = df3.pivot(index="Title",columns=["Rating Type"], values="Rate")
df3.columns.name = None 
df3

                   Audience_Rating  Critic_Rating
Title
Avengers: Endgame               90             78
Get Out                         86             99
GharJwai                        91             88
Inception                       91             87
Interstellar                    86             85
Joker                           88             68
La La Land                      81             91
Parasite                        90             96
The Dark Knight                 94             94
The Godfather                   98            100
The Irishman                    86             94

## Aggregrating

In [22]:
df.groupby("Genre")["Rating"].mean()

Genre
Action      87.0
Crime       85.5
Drama       85.0
Horror      77.0
Musical     80.0
Romance     66.0
Sci-Fi      87.0
Thriller    86.0
Name: Rating, dtype: float64

In [23]:
df.groupby("Release_Year")["Title"].count()

Release_Year
1972    1
2008    1
2010    1
2014    1
2016    1
2017    1
2019    4
2024    1
Name: Title, dtype: int64